
body {
  background-color: brown;
}
#root {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(https://massnervekit.a2hosted.com/massnerv/dr-doofenshmirtz-phineas-and-ferb.jpeg);
}