
body {
  background-color: ghostwhite;
}
#root {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border: 10px solid navy;
  height: 100vh;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}